.navbar {
  background-color: #f0f0f0;
  padding: 10px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  color: #333;
  text-decoration: none;
  padding: 8px 12px;
}

.nav-item a:hover,
.nav-item a.active {
  background-color: #333;
  color: #fff;
}

.task-card {
  min-width: 20%;
  max-width: 40%;
  margin: 10px;
  /* border-radius: 5px; */
  padding: 10px;
  background-color: #e7e7e7;
  display: flex;
  justify-content: space-between;
  animation: fadeIn 1s;
}

.action-wrapper {
  max-width: 80%;
  min-width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.task-checkbox {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.task-delete-btn {
  all: unset;
  display: flex;
  box-shadow: inset 2px 2px rgba(34, 34, 34, 0.5);
  border-radius: 3px;
  background-color: rgb(212, 53, 53);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.action-wrapper>* {
  margin: 0px 5px;
}

.task-delete-btn>* {
  margin: auto;
}

.task-list-wrapper {
  height: 100vh;
  display: flex;
  column-gap: 10px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.task-form-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.task-form-wrapper > h2 {
  margin: auto;
  text-align: center;
  width: 100%;
}

.task-form {
  min-width: 20%;
  max-width: 40%;
  margin: 10px;
  padding: 10px;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 30%;
  animation: fadeIn 1s;
}

.task-form>input {
  width: 100%;
}

.task-save-btn {
  all: unset;
  display: flex;
  align-self: center;
  box-shadow: inset 2px 2px rgba(34, 34, 34, 0.5);
  border-radius: 3px;
  background-color: rgb(42, 109, 172);
  padding: 3px 5px;
  margin-top: 5px;
  cursor: pointer;

  color: white;
}

.task-save-btn>* {
  margin: auto;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-wrapper > div {
  width: 100%;
}

.back-btn {
  all: unset;
  display: flex;
  align-self: center;
  box-shadow: inset 2px 2px rgba(34, 34, 34, 0.5);
  border-radius: 3px;
  background-color: rgb(42, 109, 172);
  padding: 3px 5px;
  margin-top: 5px;
  cursor: pointer;
  color: white;
}

@keyframes fadeIn {
  0% { 
    opacity: 0;
    translate: 100px;
   }
  100% { opacity: 1; }
}
